.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  gap: 10px;
  font-size: 0.9rem;
}

.leftColumn {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  gap: 10px;
}

.middleColumn {
  grid-column: 2;
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 10px;
}

.educationSection,
.certificationSection,
.hobbySection,
.projectSection,
.workExperienceSection,
.skillSection {
  position: relative;
  flex: 1;

  h1 {
    font-size: 1.15rem;
  }
}

.nameSection {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: fit-content;

  .profilePic {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .name {
    padding: 0;
    margin: 0;
    text-align: center;
    transition: opacity 0.5s ease;
  }

  &:hover > .profilePic {
    opacity: 1;
  }
  &:hover > .name {
    opacity: 0;
  }
}
.educationSection {
  .educationItem {
    margin-top: 15px;

    .degreeMajor {
      margin-bottom: 5px;
    }

    .institute,
    .location {
      font-size: 0.8rem;
      display: flex;
      margin: 0.2rem;
      flex-direction: row;
      gap: 2px;
    }
  }
}
.certificationSection {
}
.hobbySection {
  .hobbyList {
    padding: 0;
    list-style-type: none;

    li {
      margin-bottom: 10px;
    }
  }
}
.projectSection {
}
.workExperienceSection {
}
.skillSection {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .skillCategoryHeader {
    background: rgba($color: whitesmoke, $alpha: 0.1);
    user-select: none;
    padding: 5px 10px;
    border-radius: 10px;
  }
}
