.header,
.navbar,
.socialsbar {
  position: fixed;
  z-index: 500;
}

.navbar {
  right: 20px;
  // Center vertically on page
  top: 50%;
  transform: translateY(-50%);
}

.socialsbar {
  left: 20px;
  bottom: 20px;
}

@media (max-width: 600px) {
  .socialsbar {
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
  }

  .navbar {
    top: 25px;
    right: 50px;
    transform: none;
  }
}