.header,
.navbar,
.socialsbar {
  position: fixed;
  z-index: 500;
}

.navbar {
  right: 20px;
  // Center vertically on page
  top: 50%;
  transform: translateY(-50%);
}

.socialsbar {
  left: 20px;
  bottom: 20px;
}
