.navbar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
  text-align: right;
  width: 200px;
}

.container {
  display: flex;
  flex-direction: column;
  // gap: 10px;
  align-items: flex-end;
  width: 100%;
}

.dropdown {
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.subnavbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  text-align: right;
  width: 100%;
  padding: 10px 0;
}

.navlink,
.subnavlink {
  color: whitesmoke;
  text-decoration: none;
  width: min-content;
  white-space: nowrap;
  letter-spacing: -0.2rem;
  opacity: 0.5;
  transition: opacity 500ms ease, letter-spacing 500ms ease;

  &:hover,
  &:active,
  &.activeLink {
    color: whitesmoke;
    opacity: 1;
    letter-spacing: -0.1rem;
  }
}

.navlink {
  font-size: 1.8rem;
}

.subnavlink {
  font-size: 1.1rem;
}
